<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4"> <%= title %> Me:</h1>
      <div style="width: 100%; overflow: hidden;">
        <div style="display: table-row;">
          <div style="width: 500px; display: table-cell; vertical-align: top;">
            <div>
              <h2>Husnain Ali</h2>
              <p>
                Hi my name is Husnain but you can call me ali and i am currently in my third semester studying Software engineering technology at Centennial College.<br />
                I am attending this program in order to gain more experience and promote my software ideas with new people from the field.<br />
                I am from toronto, ontario and plan on becoming a software engineer in the future.
                My hobbies include playing sports such as basketball, soccer and listening to music, sql developing and dressing.
              </p>
            </div>
          </div>
          <div>
            <img src="\Assets\images\portrait.jpg" alt="Portrait" style="height:400px;">
          </div>
        </div>
        <div style="display: table-row;">
          <p class="text-center">
            <a href="\Assets\files\resume.pdf">
              Click here to view/download PDF Resume.
            </a>
          </p>
        </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>