

<main class ="container">
<div class = "row">
    <div class ="col-md-offset-3 col-md-6">
        <h1>
            <%= title %>
        </h1>

        <% if (typeof displayName == 'string' && displayName) { %>
            <a href="/contact-list/add" class="btn btn-primary" role="button">
            <i class="fas fa plus-circle"></i> Add a Contact</a>
        <% } %>
        <br><br>
        <table class = "table table-bordered table-striped table-hover">
            <tr>
                <th class="text center">Name</th>
                <th class="text center">Number</th>
                <th class="text center">Email</th>
                <% if (typeof displayName == 'string' && displayName) { %>
                    <th class="text center"></th>
                    <th class="text center"></th>
                <% } %>
            </tr>

            <% for(let count = 0; count < ContactList.length; count++){ %>
                <tr>
                    <td class="text center"><%= ContactList[count].name %></td>
                    <td class="text center"><%= ContactList[count].number %></td>
                    <td class="text center"><%= ContactList[count].email %></td>
                    <% if (typeof displayName == 'string' && displayName) { %>
                        <td class="text center">
                            <a href="/contact-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i> Update</a>
                        </td>
                        <td class="text center">
                            <a href="/contact-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger">
                            <i class="fas fa-trash-alt"></i> Delete</a>
                        </td>
                    <% } %>
                </tr>
           <% } %>
        </table>

    </div>
</div>
</main>

