<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

  <main class="container">
    <div class="jumbotron">
      <h1 class="display-4">Current and Past <%= title %>:</h1>
      <div style="width: 100%; overflow: hidden;">
        <div style="display: table-row;">
          <div style="width: 500px; display: table-cell; vertical-align: top;">
            <h3> H.A Developers growth </h3>
            <p> H.A Developers is my own business that I launched recently in 2019 after i finished high school. My offerings include Web developers and SQL developers and I specifically focus on development of a product.</p>
            <p>My current project called H.A developers growth is to expand my business and to expand my offerings and added talented people in my brand by adding to my skillset with my current college program.</p>
          </div>
          <div>
            <img src="\Assets\images\service.png" alt="Portrait" style="width:200px;">
          </div>
        </div>
        <div style="display: table-row;">
          <div style="width: 500px; display: table-cell; vertical-align: top;">
            <h3>SQL development</h3>
            <p>During my time in High school i self taught myself a lot SQL programs which made me pretty good in it. It also became one of my favorite programs</p>
            <p>Once opening my business i decided to make SQL one of my main programs in my company. Since then i have got a lot of good feedback for the SQL i do in my bussiness and that is one reason why i get a lot of good deals with stake holders.<br />
              I also look at skills and experience when hiring SQL developers and can offer the service quite well.
            </p>
          </div>
          <div>
            <img src="\Assets\images\security.png" alt="Portrait" style="width:200px;">
          </div>
        </div>
        <div style="display: table-row;">
          <div style="width: 600px; display: table-cell; vertical-align: top;">
            <h3>Python service package</h3>
            <p>In 2020 I launched the Python service package for my brand a tool that can help me and a lot of other employees try new programs for our company.</p>
            <p>It was designed to give technicians more powerful control over online resources such as Azure AD and Exchange Online.<br />
              It was not in production use for the first year, but once we fully activated it everyone had could get access to it.
            </p>
          </div>
          <div>
            <img src="\Assets\images\ms_powershell.png" alt="Portrait" style="width:200px;">
          </div>
        </div>
      </div>
    </div>
  </main>

<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>